*{
    box-sizing:border-box;
}


body{

    margin:0;
    background:#f5eee4;
    font-family:system-ui, -apple-system, Segoe UI, Roboto, Arial;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}


/* TOP CLOSE BUTTON */

.top-bar{

    position:absolute;

    top:22px;
    right:22px;

}


.top-bar span{

    font-size:28px;

    color:#7a1230;

    cursor:pointer;

    transition:.2s;

}


.top-bar span:hover{

    opacity:.7;

}



/* PROFILE CARD */

.profile-card{

    width:360px;

    background:white;

    padding:50px 40px;

    border-radius:24px;

    text-align:center;

    box-shadow:
    0 8px 30px rgba(122,18,48,.12);

}



/* PROFILE ICON */

.profile-icon{

    width:90px;
    height:90px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    border-radius:50%;

    background:#ffffff;

    color:rgb(0, 0, 0);

    font-size:55px;

}



/* NAME */

.profile-card h2{

    margin:20px 0 6px;

    color:#000000;

    font-size:24px;

    font-weight:500;

}



/* EMAIL */

.profile-card p{

    margin:0;

    color:#000000;

    font-size:14px;

}



/* BUTTON */

.profile-btn{

    width:50%;

    padding:14px;

    margin-top:18px;

    border:none;

    border-radius:14px;

    font-size:15px;

    font-weight:500;

    cursor:pointer;

    transition:.25s;
    

}



/* PRIMARY BUTTON */

.profile-btn:not(.logout-btn){

    background:#e8edf3;
    color:#263238;
    border:1px solid #d5dde6;

}


.profile-btn:not(.logout-btn):hover{

    background:#dce4ed;

}



/* LOGOUT */

.logout-btn{


        background:#7a1230;

    color:white;

}


.logout-btn:hover{

        background:#641027;

}

.profile-image-box{
width:100px;
height:100px;
border-radius:50%;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
background:#7a1230;
color:white;
font-size:45px;
font-weight:bold;
cursor:pointer;
}

.profile-image-box img{
width:100%;
height:100%;
object-fit:cover;
}

.profile-initial{
font-size:40px;
font-weight:bold;
}

.change-photo-text{
margin-top:12px;
font-size:14px;
color:#7a1230;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
gap:5px;
}


.change-photo-text span{
font-size:18px;
}
