html, body{
    background:red !important;
}

/* OVERLAY */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.3);
    display:none;
    z-index:1000;
}
.overlay.active{ display:block; }

/* SIDEBAR */
.sidebar{
    width:80px;
    height:100vh;
    position:fixed;
    top:0;
    left:-80px;
    background:#f5eee4;
    transition:0.2s;
    z-index:1001;
    display:flex;
    flex-direction:column;
}
.sidebar.active{ left:0; }

.sidebar-profile{
    height:90px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-item{
    height:75px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.menu-item:hover{
    background:#f0dde4;
}

.menu-item.active{
    background:#f0dde4;
}

/* HEADER */
.header{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px;
    border-bottom:1px solid #ddd;
}

.logo{
    font-weight:600;
    color:#7a1230;
}

.hamburger{
    cursor:pointer;
}

/* CARD */
.card{
    padding:15px;
    margin:15px;
    background:white;
    border-radius:10px;
}

/* PDF LIST */
.pdf-card{
    background:#fff;
    margin:12px;
    padding:14px;
    border-radius:10px;
    display:flex;
    align-items:center;
    gap:12px;
}

.pdf-icon{
    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f0dde4;
    border-radius:10px;
}

.pdf-title{
    font-weight:600;
}

/* HOME SOCIAL */
.home-social{
    position:fixed;
    bottom:15px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:10px;
    background:#fff;
    padding:10px;
    border-radius:50px;
}

/* MODAL */
#pdfModal{
    position:fixed;
    inset:0;
    display:none;
    flex-direction:column;
    background:white;
    z-index:3000;
}

#pdfHeader{
    height:60px;
    background:#7a1230;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
}

#pdfFrame{
    flex:1;
    border:none;
}
